<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Andrew Corlin</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="muistyle/material-components-web.css">
    <link rel="shortcut icon" href="../img/favicon.png">
  </head>
  <body>
    <div id="page-border">
      <!-- Top Section of all the pages -->
      <div onclick="buttonClick('./')" id="name-div">
        <p id="name">Andrew Corlin</p>
      </div>
      <div id="button-div">
        <button 
          class="mdc-button mdc-button--raised mdc-riple-surface mdc-button--compact" id="projects-button"
          data-mdc-auto-init="MDCRipple"
          onclick="buttonClick('./projects.html')"
        >
          Projects
        </button>

        <button 
          class="mdc-button mdc-button--raised mdc-riple-surface mdc-button--compact" id="about-me-button"
          data-mdc-auto-init="MDCRipple"
          onclick="buttonClick('./about-me.html')"
        >
          About Me
        </button>

        <button 
          class="mdc-button mdc-button--raised mdc-riple-surface mdc-button--compact" id="courses-button"
          data-mdc-auto-init="MDCRipple"
          onclick="buttonClick('./education.html')"
        >
          Education
        </button>

        <button 
          class="mdc-button mdc-button--raised mdc-riple-surface mdc-button--compact" id="contact-me-button"
          data-mdc-auto-init="MDCRipple"
          onclick="buttonClick('./contact-me.html')"
        >
          Contact
        </button>
      </div>
      <hr id="left-line">
      <hr id="right-line">
      <!-- Body of the Page -->
      <p id="about-me-paragraph">I am a Computer Science and Entrepreneurial Leadership Student at Tufts 
        University, interested in gaining practical experience through internships in Software Development and 
        related fields. I am currently working as a Software Engineering Intern at Genospace in Cambridge, 
        Massachusetts, doing full-stack web development. I grew up in Los Angeles, California, but I am living 
        in Medford, Massachusetts while at Tufts. </p>
      <a href="https://linkedin.com/in/andrew-corlin">
        <img src="img/linkedin.png" alt="Grey linkedin Logo"id="linkedin-photo">
      </a>
    </div>
    <script src="muiscript/material-components-web.js"></script>

    <script type="text/javascript">window.mdc.autoInit()</script>
  
    <script>
      function buttonClick(url){
        window.location.href = url;
      }
    </script>

  </body>
</html> 