<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Andrew Corlin</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="../img/favicon.png">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
  </head>
  <body>
    <div w3-include-html="template.html"></div>
    <p id="about-me-paragraph">I am a Computer Science and Entrepreneurial Leadership Student at Tufts 
      University, interested in gaining practical experience through internships in Software Development and 
      related fields. I am currently working as a Software Engineering Intern at Genospace in Cambridge, 
      Massachusetts, doing full-stack web development. I grew up in Los Angeles, California, but I am living 
      in Medford, Massachusetts while at Tufts.
    </p>
  </body>
  <script>
    w3.includeHTML();
  </script>
</html> 