<div class="template-box">
  <p class="center-name">Andrew Corlin</p>
  <div class="button-div-position">
    <button class="button">Projects</button>
    <button class="button">About Me</button>
    <button class="button">Education</button>
    <button class="button">Contact Me</button>
  </div>
  <div class="linkedin-button">
    <a href="https://linkedin.com/in/andrew-corlin">
      <img src="img/linkedin.png" alt="Grey linkedin Logo"id="linkedin-photo">
    </a>
  </div>
  <hr class="behind-button-line">
</div>